/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}

/******************************************
/* LAYOUT
/*******************************************/

body {

    background-color: rgb(73, 70, 67);
    background-image: url(/public/background.jpg);
    color:white;
}
.jumbotron, .text-center, .well {
    background-color: rgb(71, 71, 82);
}
ul.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.list-group-item {
    background-color: rgb(71, 71, 82);
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dish-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.dish-msg {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: gray;
}

li.list-group-item img {
    width: 100%;
    max-width: 400px; 
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

li.list-group-item .actions {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: auto; 
}

li.list-group-item .actions i {
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.2s;
}

li.list-group-item .actions i:hover {
    color: rgb(69, 69, 226); 
}

li.list-group-item .actions span {
    font-weight: bold;
    margin-right: 5px;
    font-size: 1.1rem;
}

button{
    background-color: rgb(48, 48, 71);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 600px) {
  form input[type="text"] {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  form {
    flex-direction: column;
    align-items: center;
  }

  form input[type="text"], form button {
    width: 100%;
    border-radius: 4px;
    margin: 5px 0;
  }

  h3{
    display:none;
  }
}

/* 
//Citations:
//Modified code from youtube tutorial: https://www.youtube.com/watch?v=z5UgtXOxEEk
//Reference code from https://www.mongodb.com/resources/languages/express-mongodb-rest-api-tutorial#setting-up-the-project
//Use of dotenv package to hide sensitive info: https://www.npmjs.com/package/dotenv
//Use of Learning Mode on AI tools to help with code structure,syntax and debugging 
*/